 <html>
  <head>
    <style>
        body {
            background: <%= color %>
        }
        p {
            color: white;
        }
    </style>
  </head>
  <body>
    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>

    <p> <%= message %> </p>

    <% if params["cheat"] %> 
     <p> <%= number %> </p>
     <%end %>
  </body>
</html>  